@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@font-face {
  font-family: "Dialeto Ancestral";
  src: url("font/DialetoAncestral-Regular.ttf") format("truetype");
}
html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  transition: 500ms;
}

/* scroll bar edit */
::-webkit-scrollbar {
  width: 0vh;
  height: 1.7vh;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  width: 5vw;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

/* scroll bar edit */
button {
  cursor: pointer;
  height: 60px;
  width: 160px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 18px;
  transition: ease-out 400ms !important;
}
button:hover {
  box-shadow: inset 400px 0px 0 0 #ff009d;
  filter: drop-shadow(0px 0px 15px #ff009d);
}
button:hover span {
  font-size: 25px;
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color from parent */
}

nav {
  display: flex;
  width: 100%;
  height: 3.9rem;
  background-color: rgb(187, 83, 135);
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw 0 10vw;
  position: fixed;
  opacity: 90%;
  z-index: 999;
}
nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background-image: linear-gradient(to top, transparent, rgb(98, 44, 71));
  bottom: -1.5rem;
  left: 0;
  right: 0;
}
nav #navLogo {
  height: 80%;
  width: auto;
  border-radius: 0.5rem;
  border: solid rgb(255, 223, 239) 2px;
}
nav div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
nav div h1 {
  font-size: 2.5rem;
  position: absolute;
  bottom: -38%;
}
nav #menuIcon {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  gap: 2vw;
  cursor: pointer;
}
nav ul li {
  position: relative;
  transition: all 0.3s ease;
}
nav ul li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  opacity: 70%;
  transition: width 0.3s ease-in-out;
}
nav ul li:hover::before {
  width: 100%;
  opacity: 70%;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}
nav ul li:hover {
  transform: scale(1.1);
  z-index: 1;
}

header {
  height: 100svh;
  display: flex;
  position: relative;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Adjust the opacity as needed */
  z-index: 1; /* Place the overlay behind other header content */
}
header #headerBackgroundImages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
header div {
  height: 100%;
  z-index: 998;
}
header #headerInformationContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12vh 14vw 10vh 0vw;
  height: 100%;
  width: 100%;
  position: relative;
}
header #headerInformationContainer h1 {
  font-size: calc(2.8rem + 2vh);
  color: rgb(255, 223, 239);
  white-space: nowrap;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
  margin-bottom: 3vh;
}
header #headerInformationContainer .paragraphContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header #headerInformationContainer .paragraphContainer p {
  padding: 0 5.5vw;
  font-size: calc(1rem + 0.9vh);
  text-align: left;
  bottom: 0;
  position: relative;
}
header #headerInformationContainer .paragraphContainer p > *:nth-child(1) {
  color: lightblue;
  text-shadow: 0px 0px 2px rgb(118, 201, 229);
}
header #headerInformationContainer .paragraphContainer p > *:nth-child(2) {
  color: rgb(255, 155, 171);
  text-shadow: 0px 0px 2px rgb(255, 148, 164);
}
header #headerInformationContainer .paragraphContainer p > *:nth-child(3) {
  color: rgb(255, 133, 62);
  text-shadow: 0px 0px 2px rgb(255, 105, 51);
}
header #headerInformationContainer .paragraphContainer p > *:nth-child(4) {
  color: lightgreen;
  text-shadow: 0px 0px 2px rgb(89, 238, 89);
}
header #headerInformationContainer .paragraphContainer p::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 9vw);
  height: calc(100% + 3vh);
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 2vh;
}
header #headerInformationContainer h4 {
  margin-top: auto;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}
header #headerImageContainer {
  width: 60%;
  position: relative;
}
header #headerImageContainer #headerCharacterImages {
  height: 128vh;
  position: absolute;
  z-index: 998;
  top: 0vh;
  right: 0;
}
header #headerImageContainer .headerImageBall {
  background-color: red;
  width: 500vw;
  height: 100vh;
  border-radius: 100vh 0% 0% 0%;
  position: absolute;
  filter: blur(1.5vh);
  opacity: 65%;
  transition: 1s;
  overflow-x: hidden;
  z-index: 997;
  inset: 30vh 0vh 0vh -30vh;
}

#chapters {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#chapters #chaptersTitle {
  font-size: 4.8vw;
  margin-bottom: 1vh;
  color: rgb(255, 223, 239);
  padding-left: 8vw;
}
#chapters .backgroundText {
  padding-left: 8vw;
  position: absolute;
  margin-top: -63vh;
  margin-left: -5vw;
  font-size: 9vw;
  color: rgb(18, 18, 18);
  text-shadow: 2px 0 rgb(255, 223, 239), -2px 0 rgb(255, 223, 239), 0 2px rgb(255, 223, 239), 0 -2px rgb(255, 223, 239), 1px 1px rgb(255, 223, 239), -1px -1px rgb(255, 223, 239), 1px -1px #fff, -1px 1px rgb(255, 223, 239);
  opacity: 15%;
  z-index: -1;
}
#chapters #chaptersContainer {
  display: flex;
  gap: 5vh;
  width: -moz-fit-content;
  width: fit-content;
  height: 65%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 10vw;
}
#chapters #chaptersContainer img {
  position: relative;
  left: 8vw;
  height: calc(60% + 12vw);
  border-radius: 1vh;
  transition: 500ms;
  margin-top: 2vh;
  justify-content: flex-end;
}
#chapters #chaptersContainer img:hover {
  transform: translateY(-2vh);
}

.tooltip {
  font-size: 1.2rem;
  position: absolute;
  display: flex;
  border-radius: 1rem;
  background-color: rgb(15, 15, 15);
  gap: 3rem;
  align-items: center;
  padding: 0.8rem 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 998;
  /* Add more styles as needed */
  opacity: 1;
  transition: opacity 500ms;
}
.tooltip img {
  border-radius: 1.5rem 1rem 1rem 1.5rem;
  padding-left: 0.8rem;
  height: 270px;
}
.tooltip .tooltipInformation {
  display: flex;
  padding-right: 3rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tooltip .tooltipInformation hr {
  position: relative;
  top: -1rem;
  opacity: 30%;
}
.tooltip .tooltipInformation p {
  position: relative;
  top: -2rem;
}

#characters {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#characters * {
  transition: none !important;
}
#characters #characterBackgroundSidewaysBar {
  position: absolute;
  width: 200%;
  height: 52vh;
  transform: rotate(8deg);
  background-color: darkgrey;
  z-index: -1;
  top: 44%;
  opacity: 20%;
}
#characters #characterBackgroundSidewaysBar::after {
  position: absolute;
  content: "";
  width: 200%;
  height: 42vh;
  background-color: rgb(18, 18, 18);
  bottom: 6rem;
  transform: rotate(-9.5deg);
}
#characters #charactersTitle {
  font-size: 4.8vw;
  margin-bottom: 1vh;
  margin-top: 0;
  color: rgb(255, 223, 239);
}
#characters .backgroundText {
  top: -2.5rem;
  position: absolute;
  font-size: 9vw;
  color: rgb(18, 18, 18);
  text-shadow: 2px 0 rgb(255, 223, 239), -2px 0 rgb(255, 223, 239), 0 2px rgb(255, 223, 239), 0 -2px rgb(255, 223, 239), 1px 1px rgb(255, 223, 239), -1px -1px rgb(255, 223, 239), 1px -1px, -1px 1px rgb(255, 223, 239);
  opacity: 15%;
  z-index: -1;
}
#characters #charactersContainer {
  width: 100%;
  height: calc(100% - 9vw);
  display: flex;
  padding: 0 5vw;
  margin-top: 3rem;
}
#characters #charactersContainer .character {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
#characters #charactersContainer div .profilePictureDiv {
  width: 35vh;
  height: 35vh;
  border-radius: 50vh;
  position: absolute;
  left: -3rem;
  top: -2.5rem;
}
#characters #charactersContainer div .profilePictureDiv img {
  height: 100%;
  width: 100%;
  border-radius: 50vh;
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(0px, 0px);
  height: 100%;
}
#characters #charactersContainer div #informationContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#characters #charactersContainer div #informationContainer #characterBackgroundText {
  position: absolute;
  top: 10%;
  font-size: 9vw;
  z-index: -1;
  white-space: nowrap;
  translate: none;
  rotate: none;
  scale: none;
  opacity: 1;
  transform: translate(-150px, 0px);
}
#characters #charactersContainer div #informationContainer #informationOrganizator {
  width: 66%;
  position: absolute;
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#characters #charactersContainer div #informationContainer #informationOrganizator #characterInformation {
  position: absolute;
  top: 0;
  left: 55%;
  padding-left: 3vw;
  z-index: -1;
  text-align: center;
  margin-top: 0;
}
#characters #charactersContainer div #informationContainer #informationOrganizator #ageAndStatus {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1vh 0;
}
#characters #charactersContainer div #informationContainer #informationOrganizator #ageAndStatus div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.8rem;
  align-items: center;
}
#characters #charactersContainer div #informationContainer #informationOrganizator #ageAndStatus div span {
  font-weight: 1000;
}
#characters #charactersContainer div #informationContainer #informationOrganizator #ageAndStatus * {
  margin: 0;
}
#characters #charactersContainer div #close-button {
  position: absolute;
  right: 5%;
  top: 10%;
  cursor: pointer;
}
#characters #charactersContainer div #close-button img {
  height: 2rem;
  width: 5rem;
  opacity: 80%;
}
#characters #charactersContainer div #close-button img:hover {
  content: url("./assets/icons/pngwing.com (2).png");
}
#characters #charactersContainer div img {
  width: auto;
  height: 100%;
  cursor: pointer;
}
#characters #charactersContainer div #characterAika {
  height: 95%;
}
#characters #charactersContainer div #characterMadger {
  height: 95%;
}
#characters #charactersContainer div #characterSan {
  height: 99%;
}

.mainImageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}

.character-info {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.character-info .character-image {
  transform: translate(150px, 0px);
}

footer {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(to bottom, transparent, rgb(6, 6, 6));
  text-shadow: 0px 0px 10px rgb(46, 46, 46);
  bottom: 0px;
  position: fixed;
  z-index: 999;
}
footer strong {
  color: pink;
}

@media (max-width: 1279px) {
  body {
    font-size: 1rem;
  }
  body button {
    height: 45px;
    width: 140px;
  }
  nav {
    padding: 0 3vw 0 3vw;
  }
  nav #navLogo {
    height: 70%;
  }
  nav #menuIcon {
    display: block;
    cursor: pointer;
    height: 75%;
    width: auto;
  }
  nav div h1 {
    font-size: 2rem;
    bottom: auto;
  }
  nav ul {
    display: none;
  }
  .navMediaQuery {
    background-color: rgb(187, 83, 135);
    opacity: 83%;
    position: fixed;
    right: calc(-188px - 1.5rem);
    top: 3.9rem;
    height: calc(100% - 3.9rem);
    z-index: 999;
    text-align: right;
    padding-right: 2vw;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navMediaQuery .navList2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
    font-size: 1.2rem;
  }
  .navMediaQuery .navList2::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 100%;
    background-image: linear-gradient(to right, transparent, rgb(98, 44, 71));
    left: -1.5rem;
    top: 0;
  }
  .navMediaQuery .navList2 li {
    transition: 0.3s;
  }
  .navMediaQuery .navList2 li::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    opacity: 70%;
    transition: width 0.3s ease-in-out;
  }
  .navMediaQuery .navList2 li:hover::before {
    width: 100%;
    opacity: 70%;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
  }
  .navMediaQuery .navList2 li:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .navMediaQuery .navList2 li hr {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  header {
    height: 100vh;
    flex-direction: column;
  }
  header #headerInformationContainer {
    padding: 7vh 5vw 10vh 5vw;
    width: 100%;
  }
  header #headerInformationContainer .headerTitle {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 6vh;
  }
  header #headerInformationContainer .paragraphContainer {
    margin: 0;
  }
  header #headerInformationContainer .paragraphContainer .headerParagraph {
    font-size: 1.15rem;
    margin: 0;
    text-align: center !important;
  }
  header #headerInformationContainer .paragraphContainer .headerParagraph::before {
    width: calc(100% - 1rem);
  }
  header #headerInformationContainer .headerKnowMore {
    font-size: 1.35rem;
    margin-top: 0;
    margin-bottom: 15px;
  }
  header #headerImageContainer {
    display: none;
  }
  #chapters {
    height: 80vh;
    padding: 0;
    align-items: center;
    margin-bottom: -10vh;
  }
  #chapters ::-webkit-scrollbar {
    width: 0vh;
    height: 1vh;
  }
  #chapters #chaptersTitle {
    font-size: 2rem;
    padding: 0;
  }
  #chapters .backgroundText {
    font-size: 4rem;
    margin-top: -48vh;
    padding: 0;
    text-shadow: 1px 0 rgb(255, 223, 239), 0px 0 rgb(255, 223, 239), 0 0px rgb(255, 223, 239), 0 -1px rgb(255, 223, 239), 1px 0px rgb(255, 223, 239), 0px 0px rgb(255, 223, 239), -1px -1px #fff, -1px 1px rgb(255, 223, 239);
    right: auto;
    left: auto;
  }
  #chapters #chaptersContainer {
    height: 60%;
    padding: 0 20vw 0 10vw;
    position: relative;
    gap: 1.5rem;
  }
  #chapters #chaptersContainer img {
    height: 94%;
  }
  .triggered {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 80vw;
    width: 100%;
  }
  .triggered hr {
    opacity: 50%;
  }
  .triggered .toolTipMobileContainer {
    display: flex;
    height: 100%;
    position: relative;
  }
  .triggered .toolTipMobileContainer .toolTipMobileImageContainer {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .triggered .toolTipMobileContainer .toolTipMobileImageContainer .ToolTipMobileChapterImage {
    width: 90%;
    height: auto;
    border-radius: 5px;
  }
  .triggered .toolTipMobileContainer .toolTipMobileInformationContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
  }
  .triggered .toolTipMobileContainer .toolTipMobileInformationContainer .xMark {
    position: absolute;
    margin-left: auto;
    font-weight: 600;
    font-size: 1.7rem;
    top: 0;
    right: 5vw;
    opacity: 50%;
  }
  .triggered .toolTipMobileContainer .toolTipMobileInformationContainer .toolTipTitle {
    font-size: 1.3rem;
    margin-bottom: 0;
    color: rgb(255, 223, 239);
  }
  .triggered .toolTipMobileContainer .toolTipMobileInformationContainer .toolTipDescription {
    padding: 0 2vw;
    margin-top: 0;
  }
  #characters {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #characters ::-webkit-scrollbar {
    width: 0vh;
    height: 0.8vh;
  }
  #characters .mobileTitleContainer {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #characters .mobileTitleContainer #charactersTitle {
    font-size: 2rem;
  }
  #characters .mobileTitleContainer .backgroundText {
    font-size: 3.8rem;
    top: 2.5rem;
    text-shadow: 1px 0 rgb(255, 223, 239), 0px 0 rgb(255, 223, 239), 0 0px rgb(255, 223, 239), 0 -1px rgb(255, 223, 239), 1px 0px rgb(255, 223, 239), 0px 0px rgb(255, 223, 239), -1px -1px #fff, -1px 1px rgb(255, 223, 239);
  }
  #characters #charactersContainer {
    padding: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-top: 0;
    align-items: flex-end;
    overflow-y: hidden;
  }
  #characters #charactersContainer .character-info {
    display: none;
  }
  #characters #charactersContainer .character-info .character-image {
    width: 100vw;
  }
  #characters #charactersContainer .character-info #informationContainer #characterBackgroundText {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    left: 0;
    font-size: 4.5rem;
    margin: 0;
  }
  #characters #charactersContainer .character-info #informationContainer #informationOrganizator {
    right: 0;
    height: 100%;
  }
  #characters #charactersContainer .character-info #informationContainer #informationOrganizator #ageAndStatus {
    display: flex;
    flex-direction: column-reverse;
    padding: 30vw 3vw 0 0;
    width: 100%;
    align-items: end;
    justify-content: start;
  }
  #characters #charactersContainer .character-info #informationContainer #informationOrganizator #ageAndStatus div {
    right: 0;
    font-size: 0.8rem;
  }
  #characters #charactersContainer .character-info #close-button img {
    height: 1.5rem;
    width: 3.5rem;
  }
  #characters #charactersContainer .character {
    justify-content: space-between;
    align-items: end;
  }
  #characters #charactersContainer .character #characterSinger {
    width: 100vw;
    height: auto;
  }
  #characters #charactersContainer .character #characterAika {
    width: 95vw;
    height: auto;
  }
  #characters #charactersContainer .character #characterMadger {
    width: 95vw;
    height: auto;
  }
  #characters #charactersContainer .character #characterSan {
    width: 100vw;
    height: auto;
  }
  #characters .imageAndInformation {
    display: flex;
    align-items: center;
  }
  #characters .imageAndInformation .profilePictureDiv img {
    width: 40vw;
    height: auto;
    border-radius: 50vh;
  }
  #characters .imageAndInformation #characterInformation {
    padding-right: 5vw;
    text-align: center;
  }
  .singerContainer {
    width: 100vw !important;
  }
  .aikaContainer {
    width: 100vw !important;
  }
  .madgerContainer {
    width: 100vw !important;
  }
  .sanContainer {
    width: 100vw !important;
  }
  footer {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=styles.css.map */