@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

$light-pink-color: rgb(255, 223, 239);
$text-shadow: drop-shadow(0px 0px 10px rgb(0, 0, 0));

@font-face {
  font-family: "Dialeto Ancestral";
  src: url("font/DialetoAncestral-Regular.ttf") format("truetype");
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  transition: 500ms;
}

/* scroll bar edit */
::-webkit-scrollbar {
  width: 0vh;
  height: 1.7vh;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1vw;
}
::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  width: 5vw;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
/* scroll bar edit */

// universal here

button {
  cursor: pointer;
  height: 60px;
  width: 160px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 18px;
  transition: ease-out 400ms !important;
  // transition: font-size 10ms !important;

  &:hover {
    box-shadow: inset 400px 0px 0 0 #ff009d;
    filter: drop-shadow(0px 0px 15px #ff009d);

    span {
      font-size: 25px;
    }
  }
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color from parent */
}

//////////////////////////////////////////////////////////////////////////////

nav {
  display: flex;
  width: 100%;
  height: 3.9rem;
  background-color: rgb(187, 83, 135);
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw 0 10vw;
  position: fixed;
  opacity: 90%;
  z-index: 999;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5rem;
    background-image: linear-gradient(to top, transparent, rgb(98, 44, 71));
    bottom: -1.5rem;
    left: 0;
    right: 0;
  }

  #navLogo {
    height: 80%;
    width: auto;
    border-radius: 0.5rem;
    border: solid $light-pink-color 2px;
  }

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    h1 {
      font-size: 2.5rem;
      position: absolute;
      bottom: -38%;
    }
  }

  #menuIcon {
    display: none;
  }

  ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    gap: 2vw;
    cursor: pointer;

    li {
      position: relative;
      transition: all 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #fff;
        opacity: 70%;
        transition: width 0.3s ease-in-out;
      }

      &:hover::before {
        width: 100%;
        opacity: 70%;
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
      }

      &:hover {
        transform: scale(1.1);
        z-index: 1;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////

header {
  height: 100svh;
  display: flex;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Adjust the opacity as needed */
    z-index: 1; /* Place the overlay behind other header content */
  }

  #headerBackgroundImages {
    // IMAGE IN THE BACKGROUND!!!!!
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  div {
    height: 100%;
    z-index: 998;
  }

  #headerInformationContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12vh 14vw 10vh 0vw;
    height: 100%;
    width: 100%;
    position: relative;

    h1 {
      font-size: calc(2.8rem + 2vh);
      color: $light-pink-color;
      white-space: nowrap;
      filter: $text-shadow;
      margin-bottom: 3vh;
    }

    .paragraphContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        padding: 0 5.5vw;
        font-size: calc(1rem + 0.9vh);
        text-align: left;
        bottom: 0;
        position: relative;

        > * {
          &:nth-child(1) {
            color: lightblue;
            text-shadow: 0px 0px 2px rgb(118, 201, 229);
          }

          &:nth-child(2) {
            color: rgb(255, 155, 171);
            text-shadow: 0px 0px 2px rgb(255, 148, 164);
          }

          &:nth-child(3) {
            color: rgb(255, 133, 62);
            text-shadow: 0px 0px 2px rgb(255, 105, 51);
          }

          &:nth-child(4) {
            color: lightgreen;
            text-shadow: 0px 0px 2px rgb(89, 238, 89);
          }
        }

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% - 9vw);
          height: calc(100% + 3vh);
          background-color: rgba(0, 0, 0, 0.5);
          box-sizing: border-box;
          border-radius: 2vh;
        }
      }
    }

    h4 {
      margin-top: auto;
      filter: $text-shadow;
    }
  }

  #headerImageContainer {
    width: 60%;
    position: relative;

    #headerCharacterImages {
      // CHARACTER IMAGEEEEE
      height: 128vh;
      position: absolute;
      z-index: 998;
      top: 0vh;
      right: 0;
    }

    .headerImageBall {
      // BALL IN THE BACKGROUND
      background-color: red;
      width: 500vw;
      height: 100vh;
      border-radius: 100vh 0% 0% 0%;
      position: absolute;
      filter: blur(1.5vh);
      opacity: 65%;
      transition: 1s;
      overflow-x: hidden;
      z-index: 997;
      inset: 30vh 0vh 0vh -30vh;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////

#chapters {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #chaptersTitle {
    font-size: 4.8vw;
    margin-bottom: 1vh;
    color: $light-pink-color;
    padding-left: 8vw;
  }

  .backgroundText {
    padding-left: 8vw;
    position: absolute;
    margin-top: -63vh;
    margin-left: -5vw;
    font-size: 9vw;
    color: rgb(18 18 18);
    text-shadow: 2px 0 rgb(255, 223, 239), -2px 0 rgb(255, 223, 239),
      0 2px rgb(255, 223, 239), 0 -2px rgb(255, 223, 239),
      1px 1px rgb(255, 223, 239), -1px -1px rgb(255, 223, 239), 1px -1px #fff,
      -1px 1px rgb(255, 223, 239);
    opacity: 15%;
    z-index: -1;
  }

  #chaptersContainer {
    display: flex;
    gap: 5vh;
    width: fit-content;
    height: 65%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    img {
      position: relative;
      left: 8vw;
      height: calc(60% + 12vw);
      border-radius: 1vh;
      transition: 500ms;
      margin-top: 2vh;
      justify-content: flex-end;

      &:hover {
        transform: translateY(-2vh);
      }
    }
  }
}

.tooltip {
  font-size: 1.2rem;
  position: absolute;
  display: flex;
  border-radius: 1rem;
  background-color: rgb(15, 15, 15);
  // padding: 4vw;
  gap: 3rem;
  align-items: center;
  padding: 0.8rem 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 998;
  /* Add more styles as needed */
  opacity: 1;
  transition: opacity 500ms;

  img {
    border-radius: 1.5rem 1rem 1rem 1.5rem;
    padding-left: 0.8rem;
    height: 270px;
  }

  .tooltipInformation {
    display: flex;
    padding-right: 3rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // justify-content: center;

    hr {
      position: relative;
      top: -1rem;
      opacity: 30%;
    }

    p {
      position: relative;
      top: -2rem;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////

#characters {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  * {
    transition: none !important;
  }

  #characterBackgroundSidewaysBar {
    position: absolute;
    width: 200%;
    height: 52vh;
    transform: rotate(8deg);
    background-color: darkgrey;
    z-index: -1;
    top: 44%;
    opacity: 20%;
    &::after {
      position: absolute;
      content: "";
      width: 200%;
      height: 42vh;
      background-color: rgb(18, 18, 18);
      bottom: 6rem;
      transform: rotate(-9.5deg);
    }
  }

  #charactersTitle {
    font-size: 4.8vw;
    margin-bottom: 1vh;
    margin-top: 0;
    color: rgb(255, 223, 239);
  }

  strong {
    top: -2.5rem;
    position: absolute;
    font-size: 9vw;
    color: rgb(18, 18, 18);
    text-shadow: 2px 0 rgb(255, 223, 239), -2px 0 rgb(255, 223, 239),
      0 2px rgb(255, 223, 239), 0 -2px rgb(255, 223, 239),
      1px 1px rgb(255, 223, 239), -1px -1px rgb(255, 223, 239), 1px -1px #fff,
      -1px 1px rgb(255, 223, 239);
    opacity: 15%;
    z-index: -1;
  }

  #charactersContainer {
    width: 100%;
    height: calc(100% - 9vw);
    display: flex;
    padding: 0 5vw;
    margin-top: 3rem;

    .character {
      height: 100%;
      width: 25%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
    }

    div {
      .profilePictureDiv {
        width: 35vh;
        height: 35vh;
        border-radius: 50vh;
        position: absolute;
        left: -3rem;
        top: -2.5rem;

        img {
          height: 100%;
          width: 100%;
          border-radius: 50vh;
          translate: none;
          rotate: none;
          scale: none;
          opacity: 1;
          transform: translate(0px, 0px);
          height: 100%;
        }
      }
      #informationContainer {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        #characterBackgroundText {
          position: absolute;
          top: 10%;
          font-size: 9vw;
          z-index: -1;
          white-space: nowrap;
          translate: none;
          rotate: none;
          scale: none;
          opacity: 1;
          transform: translate(-150px, 0px);
        }

        #informationOrganizator {
          width: 66%;
          position: absolute;
          height: 50%;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          #characterInformation {
            position: absolute;
            top: 0;
            left: 55%;
            padding-left: 3vw;
            z-index: -1;
            text-align: center;
            margin-top: 0;
          }

          #ageAndStatus {
            width: 50%;
            height: 100%;
            // border: solid 1px lightgreen;
            position: absolute;
            left: 0;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1vh 0;

            div {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              gap: 0.8rem;
              align-items: center;

              span {
                font-weight: 1000;
              }
            }

            * {
              margin: 0;
            }
          }
        }
      }

      #close-button {
        position: absolute;
        right: 5%;
        top: 10%;
        cursor: pointer;

        img {
          height: 2rem;
          width: 5rem;
          opacity: 80%;
          &:hover {
            content: url("./assets/icons/pngwing.com (2).png");
          }
        }
      }

      img {
        width: auto;
        height: 100%;
        cursor: pointer;
      }

      #characterAika {
        height: 95%;
      }

      #characterMadger {
        height: 95%;
      }

      #characterSan {
        height: 99%;
      }
    }
  }
}

.mainImageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}

.character-info {
  opacity: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;

  .character-image {
    transform: translate(150px, 0px);
  }
}

//////////////////////////////////////////////////////////////////////////////

footer {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(to bottom, transparent, rgb(6, 6, 6));
  text-shadow: 0px 0px 10px rgb(46 46 46);
  bottom: 0px;
  position: fixed;
  z-index: 999;

  strong {
    color: pink;
  }
}

@media (max-width: 1279px) {
  body {
    font-size: 1rem;

    button {
      height: 45px;
      width: 140px;
    }
  }

  nav {
    padding: 0 3vw 0 3vw;

    #navLogo {
      height: 70%;
    }

    #menuIcon {
      display: block;
      cursor: pointer;
      height: 75%;
      width: auto;
    }

    div {
      h1 {
        font-size: 2rem;
        bottom: auto;
        top: -20px;
      }
    }

    ul {
      display: none;
    }
  }

  .navMediaQuery {
    background-color: rgb(187, 83, 135);
    opacity: 83%;
    position: fixed;
    right: calc(-188px - 1.5rem);
    top: 3.9rem;
    height: calc(100% - 3.9rem);
    z-index: 999;
    text-align: right;
    padding-right: 2vw;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

    .navList2 {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5vh;
      margin-top: 5vh;
      font-size: 1.2rem;

      &::before {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 100%;
        background-image: linear-gradient(
          to right,
          transparent,
          rgb(98, 44, 71)
        );

        left: -1.5rem;
        top: 0;
      }

      li {
        transition: 0.3s;

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          right: 0;
          width: 0;
          height: 3px;
          background-color: #fff;
          opacity: 70%;
          transition: width 0.3s ease-in-out;
        }

        &:hover::before {
          width: 100%;
          opacity: 70%;
          box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
          border-radius: 1rem;
        }

        &:hover {
          transform: scale(1.1);
          z-index: 1;
        }

        hr {
          width: 100%;
          height: 3px;
          background-color: white;
        }
      }
    }
  }

  // header here vvvvvvvvvv

  header {
    height: 100vh;
    flex-direction: column;

    #headerInformationContainer {
      padding: 7vh 5vw 7vh 5vw;
      width: 100%;

      .headerTitle {
        font-size: 2.5rem;
        margin: 0;
        margin-top: 6vh;
      }

      .paragraphContainer {
        margin: 0;

        .headerParagraph {
          // padding: 0 7.5vw !important;
          font-size: 1.15rem;
          margin: 0;
          text-align: center !important;

          &::before {
            width: calc(100% - 1rem);
          }
        }
      }

      .headerKnowMore {
        font-size: 1.35rem;
        margin-top: 0;
      }
    }

    #headerImageContainer {
      display: none;
    }
  }

  // chapters here vvvvvvvvvv

  #chapters {
    height: 80vh;
    padding: 0;
    align-items: center;
    margin-bottom: -10vh;

    ::-webkit-scrollbar {
      width: 0vh;
      height: 1vh;
    }

    #chaptersTitle {
      font-size: 2rem;
      padding: 0;
    }

    .backgroundText {
      font-size: 4rem;
      margin-top: -48vh;
      padding: 0;
      text-shadow: 1px 0 rgb(255, 223, 239), 0px 0 rgb(255, 223, 239),
        0 0px rgb(255, 223, 239), 0 -1px rgb(255, 223, 239),
        1px 0px rgb(255, 223, 239), 0px 0px rgb(255, 223, 239), -1px -1px #fff,
        -1px 1px rgb(255, 223, 239);
      right: auto;
      left: auto;
    }

    #chaptersContainer {
      height: 60%;
      padding: 0 20vw 0 10vw;
      position: relative;
      gap: 1.5rem;
      // margin-left: 20vw;

      img {
        height: 94%;
      }
    }
  }

  .triggered {
    display: flex !important;
    flex-direction: column;
    justify-content: center;

    height: 80vw;
    width: 100%;

    hr {
      opacity: 50%;
    }

    .toolTipMobileContainer {
      display: flex;
      height: 100%;
      position: relative;

      .toolTipMobileImageContainer {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .ToolTipMobileChapterImage {
          width: 90%;
          height: auto;
          border-radius: 5px;
        }
      }

      .toolTipMobileInformationContainer {
        width: 60%;
        // border: solid 1px pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;

        .xMark {
          position: absolute;
          margin-left: auto;
          font-weight: 600;
          font-size: 1.7rem;
          top: 0;
          right: 5vw;
          opacity: 50%;
        }

        .toolTipTitle {
          font-size: 1.3rem;
          margin-bottom: 0;
          color: $light-pink-color;
        }

        .toolTipDescription {
          padding: 0 2vw;
          margin-top: 0;
        }
      }
    }
  }

  // characters here vvvvvvvvvvvv

  // #characters {
  //   border: solid red;
  //   transition: none;
  //   padding-top: 1.5rem;
  //   height: fit-content;
  //   // width: fit-content;

  //   * {
  //     border: solid 1px;
  //   }

  //   ::-webkit-scrollbar {
  //     width: 0vh;
  //     height: 0.7vh;
  //   }

  //   #characterBackgroundSidewaysBar {
  //     top: 31%;

  //     &::after {
  //       height: 15vh;
  //       bottom: 2rem;
  //       transform: rotate(-13.5deg);
  //     }
  //   }

  //   #charactersTitle {
  //     margin: 0;
  //     font-size: 2rem;
  //   }

  //   strong {
  //     top: 0;
  //     font-size: 3.8rem;
  //     text-shadow: 1px 0 rgb(255, 223, 239), 0px 0 rgb(255, 223, 239),
  //       0 0px rgb(255, 223, 239), 0 -1px rgb(255, 223, 239),
  //       1px 0px rgb(255, 223, 239), 0px 0px rgb(255, 223, 239), -1px -1px #fff,
  //       -1px 1px rgb(255, 223, 239);
  //   }

  //   #charactersContainer {
  //     overflow-x: visible;
  //     display: flex;
  //     // gap: 10vw;
  //     padding: 0;
  //     width: 100vw;

  //     .character-info {
  //       display: none;
  //     }

  //       .character {
  //         display: block;
  //         width: fit-content;

  //         #characterSinger {
  //           height: auto;
  //           width: 95vw;
  //           background-color: rgba($color: blue, $alpha: 0.2);
  //         }

  //         #characterAika {
  //           height: auto;
  //           width: calc(95vw - 6%);
  //           background-color: rgba($color: pink, $alpha: 0.2);
  //         }

  //         #characterMadger {
  //           height: auto;
  //           width: calc(95vw - 4%);
  //           background-color: rgba($color: green, $alpha: 0.2);
  //         }

  //         #characterSan {
  //           height: auto;
  //           width: calc(95vw - 1%);
  //           background-color: rgba($color: orange, $alpha: 0.2);
  //         }
  //       }

  //     div {
  //       .profilePictureDiv {
  //         display: none;

  //         // img {
  //         // }
  //       }

  //       #informationContainer {
  //         padding: 0;

  //         #characterBackgroundText {
  //           writing-mode: vertical-rl;
  //           left: 0;
  //           position: absolute;
  //           font-size: 11vh;
  //           transform: translate(-75px, 0px) !important;
  //         }

  //         #informationOrganizator {
  //           height: 100%;
  //           display: flex;

  //           #characterInformation {
  //             display: none;
  //           }

  //           // #ageAndStatus {
  //           // }
  //         }
  //       }

  //       #close-button {
  //         img {
  //           height: 1.3rem;
  //           width: 3rem;
  //         }
  //       }
  //     }
  //   }
  // }

  // footer here vvvvvvvvvv

  footer {
    font-size: 1.2rem;
  }
}
