@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  transition: 500ms;
}

/* scroll bar edit */
::-webkit-scrollbar {
  width: 0vh;
  height: 1.7vh;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  width: 5vw;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

/* scroll bar edit */
button {
  cursor: pointer;
  height: 60px;
  width: 160px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 18px;
  transition: ease-out 400ms !important;
}
button:hover {
  box-shadow: inset 400px 0px 0 0 #ff009d;
  filter: drop-shadow(0px 0px 15px #ff009d);
}
button:hover span {
  font-size: 25px;
}

a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color from parent */
}

nav {
  display: flex;
  width: 100%;
  height: 3.9rem;
  background-color: rgb(187, 83, 135);
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw 0 10vw;
  position: fixed;
  opacity: 90%;
  z-index: 999;
}
nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background-image: linear-gradient(to top, transparent, rgb(98, 44, 71));
  bottom: -1.5rem;
  left: 0;
  right: 0;
}
nav #navLogo {
  height: 80%;
  width: auto;
  border-radius: 0.5rem;
  border: solid rgb(255, 223, 239) 2px;
}
nav div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
nav div h1 {
  font-size: 2.5rem;
  position: absolute;
  bottom: -38%;
}
nav #menuIcon {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  gap: 2vw;
  cursor: pointer;
}
nav ul li {
  position: relative;
  transition: all 0.3s ease;
}
nav ul li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  opacity: 70%;
  transition: width 0.3s ease-in-out;
}
nav ul li:hover::before {
  width: 100%;
  opacity: 70%;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}
nav ul li:hover {
  transform: scale(1.1);
  z-index: 1;
}

header {
  height: 100svh;
  display: flex;
  position: relative;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Adjust the opacity as needed */
  z-index: 1; /* Place the overlay behind other header content */
}
header #headerBackgroundImages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
header div {
  height: 100%;
  z-index: 998;
}
header #headerInformationContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12vh 14vw 10vh 0vw;
  height: 100%;
  width: 100%;
  position: relative;
}
header #headerInformationContainer h1 {
  font-size: calc(2.8rem + 2vh);
  color: rgb(255, 223, 239);
  white-space: nowrap;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
  margin-bottom: 3vh;
}
header #headerInformationContainer p {
  padding: 0 5.5vw;
  font-size: calc(1rem + 0.9vh);
  text-align: left;
  margin-top: 6vh;
  position: relative;
}
header #headerInformationContainer p > *:nth-child(1) {
  color: lightblue;
  text-shadow: 0px 0px 2px rgb(118, 201, 229);
}
header #headerInformationContainer p > *:nth-child(2) {
  color: rgb(255, 155, 171);
  text-shadow: 0px 0px 2px rgb(255, 148, 164);
}
header #headerInformationContainer p > *:nth-child(3) {
  color: rgb(255, 133, 62);
  text-shadow: 0px 0px 2px rgb(255, 105, 51);
}
header #headerInformationContainer p > *:nth-child(4) {
  color: lightgreen;
  text-shadow: 0px 0px 2px rgb(89, 238, 89);
}
header #headerInformationContainer p::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 9vw);
  height: calc(100% + 3vh);
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 2vh;
}
header #headerInformationContainer h4 {
  margin-top: auto;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
}
header #headerImageContainer {
  width: 60%;
  position: relative;
}
header #headerImageContainer #headerCharacterImages {
  height: 128vh;
  position: absolute;
  z-index: 998;
  top: 0vh;
  right: 0;
}
header #headerImageContainer .headerImageBall {
  background-color: red;
  width: 500vw;
  height: 100vh;
  border-radius: 100vh 0% 0% 0%;
  position: absolute;
  filter: blur(1.5vh);
  opacity: 65%;
  transition: 1s;
  overflow-x: hidden;
  z-index: 997;
  inset: 30vh 0vh 0vh -30vh;
}

#chapters {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  padding-left: 8vw;
  justify-content: center;
}
#chapters #chaptersTitle {
  font-size: 4.8vw;
  margin-bottom: 1vh;
  color: rgb(255, 223, 239);
}
#chapters .backgroundText {
  position: absolute;
  margin-top: -570px;
  margin-left: -5vw;
  font-size: 9vw;
  color: rgb(18, 18, 18);
  text-shadow: 2px 0 rgb(255, 223, 239), -2px 0 rgb(255, 223, 239), 0 2px rgb(255, 223, 239), 0 -2px rgb(255, 223, 239), 1px 1px rgb(255, 223, 239), -1px -1px rgb(255, 223, 239), 1px -1px #fff, -1px 1px rgb(255, 223, 239);
  opacity: 15%;
  z-index: -1;
}
#chapters #chaptersContainer {
  display: flex;
  gap: 5vh;
  width: -moz-fit-content;
  width: fit-content;
  height: 65%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
#chapters #chaptersContainer img {
  height: calc(60% + 12vw);
  border-radius: 1vh;
  transition: 500ms;
  margin-top: 2vh;
  justify-content: flex-end;
}
#chapters #chaptersContainer img:hover {
  transform: translateY(-2vh);
}

#sla {
  width: 100%;
  height: 100vh;
}

footer {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(to bottom, transparent, rgb(6, 6, 6));
  text-shadow: 0px 0px 10px rgb(46, 46, 46);
  bottom: 0px;
  position: fixed;
  z-index: 999;
}
footer strong {
  color: pink;
}

@media (max-width: 1279px) {
  body {
    font-size: 1.1rem;
  }
  nav #menuIcon {
    display: block;
    cursor: pointer;
    height: 85%;
    width: auto;
  }
  nav ul {
    display: none;
  }
  .navMediaQuery {
    background-color: rgb(187, 83, 135);
    opacity: 83%;
    position: fixed;
    right: calc(-188px - 1.5rem);
    top: 3.9rem;
    height: calc(100% - 3.9rem);
    z-index: 999;
    text-align: right;
    padding-right: 2vw;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navMediaQuery .navList2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-top: 5vh;
  }
  .navMediaQuery .navList2::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 100%;
    background-image: linear-gradient(to right, transparent, rgb(98, 44, 71));
    left: -1.5rem;
    top: 0;
  }
  .navMediaQuery .navList2 li {
    transition: 0.3s;
  }
  .navMediaQuery .navList2 li::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    opacity: 70%;
    transition: width 0.3s ease-in-out;
  }
  .navMediaQuery .navList2 li:hover::before {
    width: 100%;
    opacity: 70%;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
  }
  .navMediaQuery .navList2 li:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .navMediaQuery .navList2 li hr {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  header {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  header #headerInformationContainer {
    height: 100vh;
    padding: 7vh 10vw 0 10vw;
    width: 100%;
  }
  header #headerInformationContainer h1 {
    font-size: calc(2rem + 4vw);
    margin: 6vh 0 5vh 0;
  }
  header #headerInformationContainer p {
    padding: 0;
    margin-top: 0;
  }
  header #headerInformationContainer p::before {
    width: calc(100% + 6vw);
  }
  header #headerInformationContainer h4 {
    margin-top: 0;
    margin-left: 1vw;
  }
  header #headerImageContainer {
    height: 70vh;
    width: 100%;
  }
  header #headerImageContainer #headerCharacterImages {
    height: calc(90vh + 30vw);
    top: -20vw !important;
    right: -15vw;
  }
  header #headerImageContainer .headerImageBall {
    background-color: red;
    width: 500vw;
    height: 60vh;
    transform: rotate(-30deg);
    border-radius: 0;
    position: absolute;
    filter: blur(1.5vh);
    opacity: 65%;
    transition: 1s;
    overflow-x: hidden;
    z-index: 997;
    inset: 0vh 0vh 0vh -125vw;
  }
}/*# sourceMappingURL=styles.css.map */